<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">

    <%= form_with(model: @user, local: true) do |f| %>
      <p>
        <strong>ユーザーID:</strong>
        <%= @user.id %>
      </p>
        
      <div class="field">
          <%= f.label :部門 %>
          <%= f.collection_select :department_id, Department.all, :id, :name %>
      </div>

      <div class="field">
          <%= f.label :名前 %><br>
          <%= f.text_field :name %>
      </div>
        
        <div>
          <%= f.label :Eメール %><br>
          <%= f.text_area :email %>
        </div>

        <div class="field">
          <%= f.label :画像 %><br/>
          <img src = <%= @user.image.url %> class = "icon_image">
          <br>
          <br>
          <%= f.file_field :image, class: "image" %>
        </div>
      <br>
        <div><button class="btn btn-outline-primary">編集する</button></div>
    <% end %>
    <br>
    <%= link_to '戻る', users_path %>
  </div>
</div>
