
<table>
  <tr>
    <th><%= sort_link(@q, :id, "ユーザーID") %></th>
    <th><%= sort_link(@d, :name, "部門名") %></th>
    <th><%= sort_link(@q, :name, "ユーザー名") %></th>
    <th><%= sort_link(@q, :email, "email") %></th>
  </tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.department.name %></td> 
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if current_user.admin == true  || ( current_user.id == user.id )%>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



