<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">

    <p>
      <strong>ユーザーID:</strong>
      <%= @user.id %> 
    </p>

    <p>
      <strong>部門:</strong>
      <%= @user.department.name %>
    </p>

    <p>
      <strong>宛先:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>eメール:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>写真:</strong>
      <img src = <%= @user.image.url%> class = "icon_image">  
    </p>


    <% if current_user.admin == true  || ( current_user.id == @user_id )%>
      <%= link_to '編集', edit_user_path(@user) %>
    <% end %>
      <%# 投稿一覧または通知画面に戻したい %>
      <%= link_to '戻る', :back %>
    
  </div>
</div>

    <p>
      <strong>投稿数:</strong>
      <%= Post.where(user_id:current_user).count %>
    </p>
   
    <p>
      <strong>いいねをもらった数:</strong>
      <% Like.where(user_id:current_user.id).count %>
      <% Like.where(user_id:current_user.id).count %>
      <% Like.where(user_id:current_user.id).count %>
      <%=  %>

    </p>

    <p>
      <strong>フォロー数:</strong>
      <%= @user.following.count %>
    </p>

    <p>
      <strong>フォロワー:</strong>
      <%= @user.followers.count %>
    </p>