<table>
  <thead>
    <tr>
      <th>部門ID</th>    
      <th>部門</th>    
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.id %></td>
        <td><%= department.name %></td>
        <% if current_user.admin == true %>
          <td><%= link_to 'Edit', edit_department_path(department) %></td> 
          <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '部門作成',  new_department_path %>
