<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>CHATルーム <%= @user.name %></h2>

            <table class="message table">
                <thead>
                <tr>
                    <th style="text-align: left; font-size: 1rem;"><%= current_user.name %></th>
                    <th style="text-align: right; font-size: 1rem;"><%= @user.name %></th>
                </tr>
                </thead>
                <% @chats.all.order(created_at: :asc).each do |chat| %>
                <% if chat.user_id == current_user.id %>
                <tbody>
                    <tr>
                    <th>
                        <div class="times"><%= chat.message_time %></div>
                        <p style="text-align: left;"><%= chat.message %></p>
                          <%= chat.read ? '既読' : '未読' %>
                    </th>
                    <th></th>
                    </tr>
                <% else %>
                    <tr>
                    <th></th>
                    <th>
                        <div class="times"><%= chat.message_time %></div>
                        <p style="text-align: right;"><%= chat.message %></p>
                        <%= chat.read ? '既読' : '未読' %>
                    </th>
                    </tr>
                </tbody>
                <% end %>
                <% end %>
            </table>

            <%= form_with model: @chat, remote: true do |f| %>
                <%= f.text_field :message %>
                <%= f.hidden_field :room_id %>
                <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
            <% end %>
        </div>
    </div>
</div>
