<%= stylesheet_link_tag 'sessions_new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "sessions_new.js" %>

  <div class="start">
     <p><%= image_tag 'logo.png' %></p>
  </div>

<div class = "big-box">
<div class = "box-session">
  <div class = "box-session-inner">
    <h2><%= t('.sign_in') %></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t('.sign_in') %>
      </div>
    <% end %>
  </div>
</div>



<div class = "box-instructions">
  <div class ="box-instructions-inner">
      <h2>コンセプト<h2>
        <h5>本アプリは感謝を伝えあい、いいねやフォローをすることで、感謝の輪を広げることを期待しています</h5>
        <h5>感謝の大小に関わらず、言いそびれた感謝や直接言いにくい感謝を伝えていきましょう</h5>
      <%# <h2>使い方</h2>
          <h6>・感謝を投稿</h6>
            <p>感謝したい人へ感謝のメッセージを作成し、その内容を投稿できます</p>
            <p>使い方）ヘッダー=>「投稿する」より投稿する</p>
          <h6>・いいね</h6>
            <p>「いいね」と思った感謝の投稿に共感を示せます</p>
            <p>使い方）ヘッダー=>投稿一覧=>「いいね」と思った投稿のハートマークを押す</p>
          <h6>・フォロー</h6>
            <p>フォローをするとその人が投稿した内容が投稿一覧から投稿順に確認することができます</p>
            <p>使い方）ヘッダー=>ユーザー一覧=> フォローしたい人の横のフォローボタンを押す</p>
          <h6>・通知を確認</h6>
            <p>あなたの投稿にいいねが付いたら、誰から、どの投稿にいいねがついたかを確認できます</p>
            <p>使い方）ヘッダー=>電球マークをクリック</p> %>
  </div>
</div>
</div>

<%# アカウント登録、パスワードを忘れましたか？ %>
<%# <%= render "devise/shared/links" %> 
