<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">

    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :投稿者 %>
        <%= @post_name %>
      </div>

      <div class="field">
        <%= form.label :宛先 %>
        <%= form.collection_select :receiver_id, User.all, :id, :name, include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= form.label :Thanks! %>
        <%= form.text_area :comment %>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-outline-primary">投稿する</button>
      </div>
    <% end %>
    
  </div>
</div>

