<%= stylesheet_link_tag "posts", :media => "all" %>

<h1>Thanks!</h1>
<br>
<br>
<a class = "title" >新着順 </a> 

<div class = "content">
  <div class = "card-wrap">
    <div class = "slider">
    <% @newcomings.each do |n| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(n.id) do %>
              <img src = <%= User.find(n.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <%="日時: #{n.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{n.user.name}" %>
              <br>
              <%= "宛先:#{User.find(n.receiver_id).name}" %> 
              <br>
                <%= "メッセージ:#{n.comment}" %>
              <br>
                <div class = likes>
                <% if current_user.liked_by?(n.id) %>
                  <%= link_to destroy_like_path(n), method: :delete do %>
                    <%# fontawesomeでアイコンを表示 %>
                    <span><i class="fa-solid fa-heart fa-2x" style="color: deeppink;"></i></span>
                    <%= n.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to create_like_path(n), method: :post do %>
                    <%# fontawesomeでアイコンを表示 %>
                    <span><i class="fa-regular fa-heart fa-2x" style="color: lightpink;"></i></span>
                    <%= n.likes.count %>
                  <% end %>
                <% end %>
                </div>
          </div>
    <% end %>
    </div>
  </div>
</div>


<a class = "title" >いいね数順 </a> 
<div class = "content">
  <div class = "card-wrap">
        <div class = "slider">
    <% @likes_rankings.each do |l| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(l.id) do %>
              <img src = <%= User.find(l.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <br>
              <%="日時: #{l.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{l.user.name}" %>
              <br>
              <%= "宛先:#{User.find(l.receiver_id).name}" %> 
              <br>
              <%= "メッセージ:#{l.comment}" %>
              <br>
              <% if current_user.liked_by?(l.id) %>
                <%= link_to destroy_like_path(l), method: :delete do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-solid fa-heart fa-2x" style="color: deeppink;"></i></span>
                  <%= l.likes.count %>
                <% end %>
              <% else %>
                <%= link_to create_like_path(l), method: :post do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-regular fa-heart fa-2x" style="color: lightpink;"></i></span>
                  <%= l.likes.count %>
                <% end %>
              <% end %>
          </div>
    <% end %>
    </div>
  </div>
</div>


<a class = "title" >フォローしている人の投稿 </a> 
<div class = "content">
  <div class = "card-wrap">
        <div class = "slider">
    <% @follows.each do |f| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(f.id) do %>
              <img src = <%= User.find(f.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <br>
              <%="日時: #{f.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{f.user.name}" %>
              <br>
              <%= "宛先:#{User.find(f.receiver_id).name}" %> 
              <br>
              <%= "メッセージ:#{f.comment}" %>
              <br>
              <% if current_user.liked_by?(f.id) %>
                <%= link_to destroy_like_path(f), method: :delete do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-solid fa-heart fa-2x" style="color: deeppink;"></i></span>
                  <%= f.likes.count %>
                <% end %>
              <% else %>
                <%= link_to create_like_path(f), method: :post do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-regular fa-heart fa-2x" style="color: lightpink;"></i></span>
                  <%= f.likes.count %>
                <% end %>
              <% end %>
          </div>
    <% end %>
    </div>
  </div>
  
</div>