<%= stylesheet_link_tag "posts", :media => "all" %>
<%# <% link rel="stylesheet" type="text/css" href="posts.scss" %> 

<h1>Thanks!</h1>

<br>
<br>




 <h3>新着</h3>
  <div class = slider>
    <div>
      <%= image_tag "gameroom-scorpio2.jpeg", class: "practice_image" %>
    </div>
    <div>
      <%= image_tag "onisanGFVL1361.jpg.webp", class: "practice_image" %>
    </div>
    <div>
      <%= image_tag "gameroom-scorpio2.jpeg", class: "practice_image" %>
    </div>
    <div>
      <%= image_tag "gameroom-scorpio2.jpeg", class: "practice_image" %>
    </div>
    <div>
      <%= image_tag "gameroom-scorpio2.jpeg", class: "practice_image" %>
    </div>
  </div>








<div class = "content">
  <div class = "card-wrap">
        <div class = "slider">
    <% @posts.each do |post| %>
      <%# <div class = "card-list"> %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(post.id) do %>
              <img src = <%= User.find(post.receiver_id).image.url %> class = "icon_image"><a>
              <% end %>
              <br>
              <%="日時: #{post.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{post.user.name}" %>
              <br>
              <%= "宛先:#{User.find(post.receiver_id).name}" %> 
              <br>
              <%= "メッセージ:#{post.comment}" %>
              <br>
              <% if current_user.liked_by?(post.id) %>
                <%= link_to destroy_like_path(post), method: :delete do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-solid fa-heart fa-2x" style="color: deeppink;"></i></span>
                  <%= post.likes.count %>
                  <% end %>
              <% else %>
                <%= link_to create_like_path(post), method: :post do %>
                  <%# fontawesomeでアイコンを表示 %>
                  <span><i class="fa-regular fa-heart fa-2x" style="color: lightpink;"></i></span>
                  <%= post.likes.count %>
                  <% end %>
          </div>
              <% end %>
        </div>
      <%# </div> %>
    <% end %>
  </div>
</div>
