<%# current_userがnilの時にエラーを出さずにadmin権限の確認 %>
<% if current_user.try(:admin?) %>
  <h1>Posts_admin </h1>
<% else %>
  <h1>Posts</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Date</th> 
      <th>From</th>    
      <th>To</th>
      <th>Image</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.created_at.strftime('%Y/%m/%d/%R') %></td>
        <td><%= post.user.name %></td>
        <td><%= User.find(post.receiver_id).name %></td>    
        <td><img src = <%= User.find(post.receiver_id).image.url %> class = "icon_image"></td>
        <td><%= post.comment %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user.admin == true  || ( current_user.id == post.user_id )%>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



