<%= stylesheet_link_tag "posts", :media => "all" %>

<h1>Thanks!</h1>
<br>
<br>
<a class = "title" >新着順 </a> 

<div class = "content">
  <div class = "card-wrap">
    <div class = "slider">
    <% @newcomings.each do |post| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(post.id) do %>
              <img src = <%= User.find(post.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <%="日時: #{post.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{post.user.name}" %>
              <br>
              <%= "宛先:#{User.find(post.receiver_id).name}" %> 
              <br>
                <%= "メッセージ:#{post.comment}" %>
              <br>
                
                <div class="likes_buttons_<%= post.id %>">
                    <%= render partial: 'likes/like', locals: { post: post} %>
                  </div>

          </div>
    <% end %>
    </div>
  </div>
</div>


<a class = "title" >いいね数順 </a> 
<div class = "content">
  <div class = "card-wrap">
        <div class = "slider">
    <% @likes_rankings.each do |post| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(post.id) do %>
              <img src = <%= User.find(post.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <br>
              <%="日時: #{post.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{post.user.name}" %>
              <br>
              <%= "宛先:#{User.find(post.receiver_id).name}" %> 
              <br>
              <%= "メッセージ:#{post.comment}" %>
              <br>
           
                   <div class="likes_buttons_<%= post.id %>">
                    <%= render partial: 'likes/like', locals: { post: post} %>
                  </div>


          </div>
    <% end %>
    </div>
  </div>
</div>


<a class = "title" >フォローしている人の投稿 </a> 
<div class = "content">
  <div class = "card-wrap">
        <div class = "slider">
    <% @follows.each do |post| %>
          <div>
            <p class = "cardlistImage"><%= link_to post_path(post.id) do %>
              <img src = <%= User.find(post.receiver_id).image.url %> class = "icon_image"><a>
            <% end %>
              <%="日時: #{post.created_at.strftime('%Y/%m/%d/%R')}" %>
              <br>
              <%= "投稿者:#{post.user.name}" %>
              <br>
              <%= "宛先:#{User.find(post.receiver_id).name}" %> 
              <br>
              <%= "メッセージ:#{post.comment}" %>
              <br>
               
                <div class="likes_buttons_<%= post.id %>">
                    <%= render partial: 'likes/like', locals: { post: post} %>
                  </div>

          </div>
    <% end %>
    </div>
  </div>
</div>



