<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">

    <%= form_with(model: @user, url: admin_user_path, local: true) do |f| %>
      <p>
        ユーザーID:<%= @user.id %>
      </p>
      
    <div class="field">
        <%= f.label :部門 %>
        <%= f.collection_select :department_id, Department.all, :id, :name %>
      </div>

      <div>
        <%= f.label :名前 %>
        <%= f.text_field :name %>
      </div>
      
      <div>
        <%= f.label :Eメール %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :image %><br/>
        <%= image_tag @user.image.url %>
        <br>
        <br>
        <%= f.file_field :image, class: "image" %>
      </div>
    <br>
      <div><button class="btn btn-outline-primary">編集する</button></div>
    <% end %>
    <br>
    
    <%= link_to "戻る", admin_users_path %>
  </div>
</div>
