<%= form_with(model: @user, url: admin_users_path, local: true) do |f| %>
   <div class="field">
    <%= f.label :department %>
    <%= f.collection_select :department_id, Department.all, :id, :name, include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image, class: "image" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_users_path %>


