<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# デフォルト %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# fontawesomeの使用 %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb59f7e075.js" crossorigin="anonymous"></script>
    <%# slickの使用 %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%# <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css"> %>
  </head>

  <body>
     <% if current_user.try(:admin) %>
      <%= link_to "投稿管理", admin_posts_path %>
      <%= link_to "ユーザー管理", admin_users_path %>
      <%= link_to "部門管理", admin_departments_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= "ログイン中:#{current_user.name}" %>
    <% elsif user_signed_in? %>
      <%= link_to "投稿する", new_post_path %>
      <%= link_to "投稿一覧", posts_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%="ログイン中:#{current_user.name}" %>

    <%# いいねの既読の有無に応じて、アイコンの表示を変更する。一連のロジック %>
      <% if user_signed_in? %>
      <%# ユーザーがログインしていたらいいねの既読有無を確認 %>
        <% @notifications = current_user.passive_notifications.where(checked: false) %>
          <%# checke: false = 未読があった場合 %>
          <% if @notifications.any? %>
              <%# fontawesomeにリンクを貼る %>
              <%= link_to notifications_path do %>
                <%# fontawesomeでアイコンを表示 %>
                <span><i class="fa-solid fa-lightbulb fa-2x" style="color: gold;"></i></span>
              <% end %>
          <%# 既読済みの場合 %>
          <% else %>
              <%= link_to notifications_path do %>
                <span><i class="fa-regular fa-lightbulb fa-2x" style="color: khaki;"></i></span>
              <% end %>
          <% end %>
      <% end %>

    <% else %>
      <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %>
      <%= link_to "ゲスト管理者ログイン", homes_guest_admin_sign_in_path, method: :post %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%# <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script> %>
    <script type="text/javascript">
      $(function() {
        $('.slider').slick({
          dots: true,
          slidesToShow: 5,
          slidesToScroll: 3,
          
        });
      });




    </script>
  
  </body>
</html>
