<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# fontawesomeの使用 %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb59f7e075.js" crossorigin="anonymous"></script>
   
  </head>

  <body>
     <% if current_user.try(:admin) %>
      <%= link_to "投稿管理", admin_posts_path %>
      <%= link_to "ユーザー管理", admin_users_path %>
      <%= link_to "部門管理", admin_departments_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= "ログイン中:#{current_user.name}" %>
    <% elsif user_signed_in? %>
      <%= link_to "投稿する", new_post_path %>
      <%= link_to "投稿一覧", posts_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%="ログイン中:#{current_user.name}" %>

      <% if user_signed_in? %>
        <% @notifications = current_user.passive_notifications.where(checked: false) %>
          <% if @notifications.any? %>
              <%= link_to notifications_path do %>
                <span><i class="fa-solid fa-heart fa-2x" style="color: deeppink;"></i></span>
              <% end %>
          <% else %>
              <%= link_to notifications_path do %>
                <span><i class="fa-regular fa-heart fa-2x" style="color: lightpink;"></i></span>
              <% end %>
          <% end %>
      <% end %>

    <% else %>
      <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %>
      <%= link_to "ゲスト管理者ログイン", homes_guest_admin_sign_in_path, method: :post %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
